{% load i18n %}

{% block footer %}
  <footer class="Footer">
    <div class="wrap">
      <div class="row Footer-main">
        <div class="row-block">
          <a class="logo Footer-logo" href="{% url 'home' %}">
            <img class="logo-image" src="/static/img/logo_footer.png" alt="logo_footer.png">
          </a>
        </div>
        <div class="row-block">
          <strong class="Footer-title">{% trans 'Navigation' %}</strong>
          <ul class="menu menu_vt Footer-menu">
            <li class="menu-item">
              <a class="menu-link" href="{% url 'home' %}">{% trans 'Home' %}</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="{% url 'catalog' %}">{% trans 'Catalog' %}</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="{% url 'comparison' %}">{% trans 'Comparison' %}</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="{% url 'sales' %}">{% trans 'Sales' %}</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">{% trans 'Profile' %}</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="{% url 'about' %}">{% trans 'About Us' %}</a>
            </li>
          </ul>
        </div>
        <div class="row-block">
          <strong class="Footer-title">{% trans 'Contacts' %}
          </strong>
          <p>Phone: 8.800.200.600<br>Email: xxx@meg.com<br>
          </p>
          <ul class="menu menu_img menu_smallImg Footer-menuSoc">
            <li class="menu-item">
              <a class="menu-link" href="#">
                <img src="/static/img/icons/socialFooter/fb.svg" alt="fb.svg"></a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">
                <img src="/static/img/icons/socialFooter/tw.svg" alt="tw.svg"></a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">
                <img src="/static/img/icons/socialFooter/in.svg" alt="in.svg"></a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">
                <img src="/static/img/icons/socialFooter/pt.svg" alt="pt.svg"></a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">
                <img src="/static/img/icons/socialFooter/mail.svg" alt="mail.svg"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}

