{% load i18n static %}

{% block header %}
  <header class="Header">
    {% block control_panel %}
      <div class="ControlPanel">
        <div class="wrap">
          <div class="row ControlPanel-row">
            <div class="row-block">
              <div class="row ControlPanel-rowSplit">
                <div class="row-block hide_700">
                  <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                    <li class="menu-item">
                      <a class="menu-link" href="#">
                        <img src="/static/img/icons/socialHeader/tw.svg" alt="tw.svg">
                      </a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="#">
                        <img src="/static/img/icons/socialHeader/in.svg" alt="in.svg">
                      </a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="#">
                        <img src="/static/img/icons/socialHeader/pt.svg" alt="pt.svg">
                      </a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="#">
                        <img src="/static/img/icons/socialHeader/mail.svg" alt="mail.svg">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <nav class="row-block">
              <div class="row ControlPanel-rowSplit">

                <div class="dropdown lang">

                  <button class="dropbtn" id="lang-change">
                    <img src="{% static 'img/icons/language.svg' %}" alt="language.svg">
                  </button>

                  <div class="dropdown-content lang-dropdown" id="lang-dropdown">

                    <form id='lang_en' action="{% url 'set_language' %}" method='POST'>
                      {% csrf_token %}
                      {% if redirect_to %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                      {% endif %}
                      <input type='hidden' name='language' value='en'/>
                      <div>
                        <button type="submit" class="btn btn-lang">
                          <span class="lang-text">English</span>
                          <img src="{% static 'img/bg/uk.png' %}" alt="uk.png"/>
                        </button>
                      </div>
                    </form>

                    <form id='lang_ru' action="{% url 'set_language' %}" method='POST'>
                      {% csrf_token %}
                      {% if redirect_to %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                      {% endif %}
                      <input type='hidden' name='language' value='ru'/>
                      <div>
                        <button type="submit" class="btn btn-lang">
                          <span class="lang-text">Русский</span>
                          <img src="{% static 'img/bg/ru.png' %}" alt="ru.png"/>
                        </button>
                      </div>
                    </form>

                  </div>
                </div>

                {% if not request.user.is_authenticated %}
                  <div class="row-block">
                    <a class="ControlPanel-title" href="{% url 'account_login' %}">{% trans 'Login' %}</a>
                    <a class="ControlPanel-title" href="{% url 'account_signup' %}">{% trans 'Registration' %}</a>
                  </div>
                {% endif %}
              </div>
            </nav>
          </div>
        </div>
      </div>
    {% endblock %}
    {% block header_row_main %}
      <div class="wrap">
        <div class="row Header-rowMain">
          <div class="row-block Header-logo">
            <a class="logo" href="{% url 'home' %}">
              <img class="logo-image" src="/static/img/logo.png" alt="logo.png">
            </a>
          </div>
          {% if not no_bottom %}
            <nav class="row-block row-block_right Header-menu">
              <div class="menuModal" id="navigate" style="">
                <ul class="menu menu_main" style="position: static;">
                  <li class="menu-item">
                    <a class="menu-link" href="{% url 'home' %}">{% trans 'Home' %}</a>
                  </li>
                  <li class="menu-item"><span class="menu-label menu-label_success">{% trans 'Sales' %}</span>
                    <a class="menu-link" href="{% url 'catalog' %}">{% trans 'Catalog' %}</a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="{% url 'comparison' %}">{% trans 'Comparison' %}</a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="{% url 'sales' %}">{% trans 'Sales' %}</a>
                  </li>
                </ul>
              </div>
            </nav>
            <div class="row-block">
              <div class="CartBlock">
                {% if request.user.is_authenticated %}
                  <div class="dropdown">
                    <button class="dropbtn">
                      <img class="CartBlock-img" src="/static/img/icons/loon-icon.svg" alt="loon-icon.svg">
                    </button>
                    <div class="dropdown-content">
                      <a class="dropdown-content-a" href="{% url 'account' %}">{% trans 'Personal account' %}</a>
                      {% if request.user.is_staff %}
                        <a class="dropdown-content-a" href="{% url 'admin:index' %}">{% trans 'Administrative section' %}</a>
                      {% endif %}
                      <a class="dropdown-content-a" href="{% url 'account_logout' %}">{% trans 'Logout' %}</a>
                    </div>
                  </div>
                {% endif %}

                {% with total_items=cart|length %}
                  <a class="CartBlock-block" href="{% url 'cart_detail' %}">
                    <img class="CartBlock-img" src="/static/img/icons/cart.svg" alt="cart.svg">
                    <span class="CartBlock-amount">{{ total_items }}</span>
                  </a>
                  <div class="CartBlock-block">
                      <span class="CartBlock-price">
                        {% if cart|length > 0 %}
                          {{ cart.get_total_price }}
                        {% else %}
                          0.00
                        {% endif %}
                    </span>
                  </div>
                {% endwith %}
              </div>
            </div>
            <div class="row-block Header-trigger">
              <a class="menuTrigger" href="#navigate">
                <div class="menuTrigger-content">Показать навигацию</div>
                <span></span><span></span><span></span>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endblock %}

    {% if not no_bottom %}
      {% block search %}
        <div class="Header-searchWrap">
          <div class="wrap">
            <div class="Header-categories">
              <div class="CategoriesButton">
                <div class="CategoriesButton-title">
                  <div class="CategoriesButton-icon">
                    <img src="{% static 'img/icons/allDep.svg' %}" alt="allDep.svg">
                  </div>
                  <span class="CategoriesButton-text">{% trans 'All categories' %}</span>
                  <div class="CategoriesButton-arrow"></div>
                </div>
                <div class="CategoriesButton-content">
                  {% for caterory in categories %}
                    {% if not caterory.parent %}
                      <div class="CategoriesButton-link">
                        <a href="{{ caterory.get_absolute_url }}">
                          <div class="CategoriesButton-icon">
                            {% if caterory.icon %}
                              <img src="{{ caterory.icon.url }}" alt="{{ caterory.name }}"/>
                            {% endif %}
                          </div>
                          <span class="CategoriesButton-text">{{ caterory.name }}</span>
                        </a>
                        {% if caterory.child_category.all %}
                          <a class="CategoriesButton-arrow" href="#"></a>
                          <div class="CategoriesButton-submenu">
                            {% for child_categ in caterory.child_category.all %}
                              <a class="CategoriesButton-link" href="{{ child_categ.get_absolute_url }}">
                                <div class="CategoriesButton-icon">
                                  <img src="{{ child_categ.icon.url }}" alt="{{ child_categ.name }}"/>
                                </div>
                                <span class="CategoriesButton-text">{{ child_categ.name }}</span>
                              </a>
                            {% endfor %}
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="Header-searchLink">
              <img src="/static/img/icons/search.svg" alt="search.svg">
            </div>
            <div class="Header-search">
              <div class="search">
                <form class="form form_search" action="{% url 'catalog' %}" method="get">
                  <input class="search-input" id="query" name="name" type="text"
                         placeholder="NVIDIA GeForce RTX 3060">
                  <button class="search-button" type="submit" id="search">
                    <img src="/static/img/icons/search.svg" alt="search.svg">{% trans 'Search' %}
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endblock %}
    {% endif %}
  </header>
  {% get_current_language as LANGUAGE_CODE %}
  {{ LANGUAGE_CODE|json_script:"language-code" }}
{% endblock %}