{% extends 'base.html' %}
{% load static %}


{% block body %}
  {% block header %}
    {% include 'components/header.html' %}
  {% endblock %}
  <main>
    {% block page_content %}
    {% endblock %}
  </main>


  {% block footer %}
    {% include 'components/footer.html' %}
  {% endblock %}
  {% block breadcrumbs %}
    <!--+Middle-->
    <!--    +div.-top-->
    <!--        +breadcrumbs('Главная','Портфолио')-->
    <!--    +Article('portfolio')-->
    <!---->
  {% endblock %}

  {% block bottom_scripts %}
    {% include 'components/common-scripts.html' %}
  {% endblock %}


{% endblock %}



