{% extends 'layout.html' %}
{% load static i18n custom_filters %}


{% block page_content %}
  <div class="Middle">
    <div class="wrap">
      <header class="Section-header comparison-header">
        {% if count_item %}
          <div>
            <strong class="Section-title">{% trans 'Number of goods' %}: {{ count_item }}</strong>
            <form class="btn-content" action="{% url 'comparison' %}" method="post">
              {% csrf_token %}
              <button class="btn btn_primary" type="submit" name="delete_all" value="{{ comparison_list }}">
                {% trans 'Delete all products' %}
              </button>
            </form>
          </div>
        {% else %}
          <strong class="Section-title">{% trans 'Number of goods' %}: 0</strong>
        {% endif %}
        {% if count_item > 1 and one_category %}
          <form class="comparison-form" method="get">
            <div class="form-group">
              <button class="btn btn_primary" type="submit" name="is_difference" value="{{ is_difference_value }}">
                {{ name_btn }}
              </button>
            </div>
          </form>
        {% endif %}
        {% if not one_category %}
          <div class="blockquote">
            <div class="author">
              {% trans 'You can only compare products of the same category' %}
            </div>
          </div>
        {% endif %}
      </header>

      <div class="Product">
        {% if count_item == 1 or comparison_list is None %}
          <h2 class="ProductCard-comparison-title">{% trans 'Not enough data to compare' %}</h2>
        {% else %}
          <div class="ProductCard">
            {% for item in comparison_list %}
              <div class="ProductCard-desc">
                <div class="ProductCard-header">
                  <h2 class="ProductCard-comparison-title">{{ item.name }}
                  </h2>
                  <div class="ProductCard-look">
                    <a href="{{ item.get_absolute_url }}" class="ProductCard-photo compare-photo">
                      <img src="{{ item.main_image.middle.url }}" alt="{{ item.slug }}"/>
                    </a>
                  </div>
                  <div class="Tabs Tabs_default">
                    <div class="Tabs-wrap">
                      <div class="Tabs-block" id="description">
                        <div class="table">
                          {% if one_category %}
                            <table>
                              <tr>
                                <th>{% trans 'Characteristic'|capfirst %}</th>
                                <th>{% trans 'Value'|capfirst %}</th>
                              </tr>
                              <tr>
                                <td><b>{% trans 'Common parameters' %}</b></td>
                                <td></td>
                              </tr>
                              {% for feature in item.features.all %}
                                <tr>
                                  <td>{{ feature.feature_name }}</td>
                                  <td>{% for value in feature.values.all %}
                                    {{ value }}{% if not forloop.last %}, {% endif %}
                                  {% endfor %}
                                  </td>
                                </tr>
                              {% endfor %}
                            </table>
                          {% endif %}
                          <form class="btn-content" action="{% url 'comparison' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn_primary" type="submit" name="delete_product" value="{{ item.id }}">
                              {% trans 'delete' %}
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ProductCard-info">
                  <div class="ProductCard-cost">
                    <span class="ProductCard-price">{{ item.avg_price|localize:request.LANGUAGE_CODE }}</span>
                  </div>
                </div>
                <div class="ProductCard-cart">
                  <div class="ProductCard-cartElement">
                    <form class="btn btn_primary" action="{% url 'cart_add' item|random_related_id %}" method="post">
                      {% csrf_token %}
                      <button class="btn-reset btn-comparison" type="submit">
                        <img class="btn-icon" src="{% static 'img/icons/card/cart_white.svg' %}" alt="cart_white.svg"/>
                        <span class="btn-content">{% trans 'Add to Cart' %}</span>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}