{% extends 'layout.html' %}
{% load static i18n custom_filters %}


{% block page_content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">

          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item">
              <a href="{% url 'home' %}">{% trans 'Home' %}</a>
            </li>
            <li class="breadcrumbs-item">
              <a href="{% url 'sales' %}">{% trans 'Sales list' %}</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current">
              <span>{{ discount.name }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <p class="discount-descr">{{ discount.description_long }}</p>
        <div>
          {% if date_end %}
            <span>
              {% trans 'Time left until the end of the discount:' %}
            </span>
            <div class="CountDown discount-count" data-date="{{ date_end }}">
              <div class="CountDown-block">
                <div class="CountDown-wrap">
                  <div class="CountDown-days"></div>
                  <span class="CountDown-label">{% trans 'days' %}</span>
                </div>
              </div>
              <div class="CountDown-block">
                <div class="CountDown-wrap">
                  <div class="CountDown-hours"></div>
                  <span class="CountDown-label">{% trans 'hours' %}</span>
                </div>
              </div>
              <div class="CountDown-block">
                <div class="CountDown-wrap">
                  <div class="CountDown-minutes"></div>
                  <span class="CountDown-label">{% trans 'mins' %}</span>
                </div>
              </div>
              <div class="CountDown-block">
                <div class="CountDown-wrap">
                  <div class="CountDown-secs"></div>
                  <span class="CountDown-label">{% trans 'secs' %}</span>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="Section">
    <div class="wrap">

      <div class="Cards">
        {% for item in page_obj %}
          <div class="Card">
            <a class="Card-picture" href="{{ item.product.get_absolute_url }}">
              <img src="{{ item.product.main_image.middle.url }}" alt="{{ item.product.slug }}"/>
            </a>
            <div class="Card-content">
              <strong class="Card-title">
                <a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a>
              </strong>
              <div class="Card-description">
                <div class="Card-cost">
                  <span class="Card-priceOld">{{ item.price|localize:request.LANGUAGE_CODE }}</span>
                  <span class="Card-price">{{ item.discount_price|localize:request.LANGUAGE_CODE }}</span>
                </div>
                <div class="Card-category">{{ item.product.category.name }}</div>
                <div class="Card-hover">
                  <form class="Card-btn comparison" action="{% url 'comparison' %}" method="post">
                    {% csrf_token %}
                    <button class="btn-reset btn-comparison" type="submit" name="add_product" value="{{ item.product.id }}">
                      <img src="{% static 'img/icons/exchange.svg' %}" alt="exchange.svg"/>
                    </button>
                  </form>

                  <form class="Card-btn comparison" action="{% url 'cart_add' item.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn-reset btn-comparison" type="submit">
                      <img src="{% static 'img/icons/card/cart.svg' %}" alt="cart.svg"/>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% if page_obj.has_other_pages %}
        <div class="Pagination">
          <div class="Pagination-ins">
            {% if page_obj.has_previous %}
              <a class="Pagination-element Pagination-element_prev"
                 href="?page={{ page_obj.previous_page_number }}">
                <img src="{% static 'img/icons/prevPagination.svg' %}" alt="prevPagination.svg"/>
              </a>
            {% endif %}

            {% for p in page_obj.paginator.page_range %}
              {% if page_obj.number == p %}
                <div class="Pagination-element Pagination-element_current">
                  <span class="Pagination-text">{{ p }}</span>
                </div>
              {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                <a class="Pagination-element" href="?page={{ p }}">
                  <span class="Pagination-text">{{ p }}</span>
                </a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.next_page_number }}">
                <img src="{% static 'img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/>
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}