{% extends 'layout.html' %}
{% load static %}


{% block header %}
  {% include 'components/header.html' with no_bottom=True %}
{% endblock %}

{% block page_content %}
  <div class="wrapper">
  <div class="header">
    <h3 class="sign-in">Восстановление пароля (1/2)</h3>
    <h5>Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись</h5>
  </div>

  <form method="post">
    {% csrf_token %}
    <div>
      {{ form.email }}
      {{ form.email.errors }}
    </div>
    <div>
      <input type="submit" value="Получить проверочный код"/>
    </div>
    <a class="registr" href="{% url 'account_signup' %}">
      Вход
    </a>
  </form>
</div>
{% endblock %}
