{% extends 'layout.html' %}
{% load static i18n custom_filters %}


{% block page_content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% trans 'order' %} №{{ order.pk }}</h1>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Section-content">
          <div class="Orders">
          </div>
          <div class="Order">
            <div class="Order-infoBlock">
              <div class="Order-personal">
                <div class="row">
                  <div class="row-block">
                    <div class="Order-info Order-info_date">
                      <div class="Order-infoType">{% trans 'Order date' %}:</div>
                      <div class="Order-infoContent">{{ order.created }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.name.label }}:</div>
                      <div class="Order-infoContent">{{ order.name }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.phone.label }}:</div>
                      <div class="Order-infoContent">{{ order.phone }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.email.label }}:</div>
                      <div class="Order-infoContent">{{ order.email }}
                      </div>
                    </div>
                  </div>
                  <div class="row-block">
                    <div class="Order-info Order-info_delivery">
                      <div class="Order-infoType">{% trans 'Delivery type' %}:</div>
                      <div class="Order-infoContent">{{ order.delivery_category.name }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.city.label }}:</div>
                      <div class="Order-infoContent">{{ order.city }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.address.label }}:</div>
                      <div class="Order-infoContent">{{ order.address }}
                      </div>
                    </div>
                    <div class="Order-info Order-info_pay">
                      <div class="Order-infoType">{% trans 'Payment' %}:</div>
                      <div class="Order-infoContent">{{ order.payment_item.get_payment_category_display }}
                      </div>
                    </div>
                    <div class="Order-info Order-info_status">
                      <div class="Order-infoType">{% trans 'Status' %}:</div>
                      <div class="Order-infoContent">{{ order.get_status_display }}
                      </div>
                    </div>
                    {% if not order.payment_item.is_passed %}
                      <div class="Order-info Order-info_error">
                        <div class="Order-infoType">{% trans 'Payment failed' %}:</div>
                        <div class="Order-infoContent">{% trans 'Payment not received' %}</div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="Cart Cart_order">
                {% for item in order.items.all %}
                  <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">

                      {% if item.product_shop.is_active %}
                        <div class="Cart-block Cart-block_pict">
                          <a class="Cart-pict" href="{{ item.product_shop.product.get_absolute_url }}">
                            <img class="Cart-img" src="{{ item.product_shop.product.main_image.small.url }}"
                                 alt="{{ item.product_shop.product.slug }}"/>
                          </a>
                        </div>
                        <div class="Cart-block Cart-block_info">
                          <a class="Cart-title"
                             href="{{ item.product_shop.product.get_absolute_url }}">{{ item.product_shop.product.name }}</a>
                          <div class="Cart-desc">{{ item.product_shop.product.description_short }}</div>
                        </div>

                      {% else %}

                        <div class="Cart-block Cart-block_pict">
                          <div class="Cart-pict">
                            <img class="Cart-img" src="{{ item.product_shop.product.main_image.small.url }}"
                                 alt="{{ item.product_shop.product.slug }}"/>
                          </div>
                        </div>
                        <div class="Cart-block Cart-block_info">
                          <div class="Cart-title">{{ item.product_shop.product.name }}</div>
                          <div class="Cart-desc">{{ item.product_shop.product.description_short }}</div>
                        </div>
                      {% endif %}

                      <div class="Cart-block Cart-block_price">
                        <div class="Cart-price">{{ item.price_on_add_moment|localize:request.LANGUAGE_CODE }}</div>
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_amount">{{ item.quantity }} {% trans 'pcs.' %}</div>
                    </div>
                  </div>
                {% endfor %}

                {% if not order.is_free_delivery %}
                  <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_pict">
                        <div class="Cart-pict">
                          <img class="Cart-img" src="{% static 'img/icons/delivery.png' %}" alt="delivery.png"/>
                        </div>
                      </div>
                      <div class="Cart-block Cart-block_info">
                        <div class="Cart-title Delivery-title">{{ order.delivery_category.name }}</div>
                        <div class="Cart-desc"></div>
                      </div>
                      <div class="Cart-block Cart-block_price">
                        <div class="Cart-price Delivery-price">{{ order.delivery_category.price|localize:request.LANGUAGE_CODE }}</div>
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_amount">1 {% trans 'pcs.' %}</div>
                    </div>
                  </div>
                {% endif %}

                <div class="Cart-total">
                  <div class="Cart-block Cart-block_total">
                    <strong class="Cart-title">
                      {% trans 'Total' %}:
                      <span class="Cart-price">{{ order.payment_item.total_price|localize:request.LANGUAGE_CODE }}</span>
                    </strong>
                  </div>
                  {% if can_pay %}
                    <div class="Cart-block">
                      <a class="btn btn_primary btn_lg" href="{% url payment_page %}">{% trans 'Pay' %}</a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
