{% extends 'layout.html' %}
{% load static i18n custom_filters %}


{% block page_content %}
  <div class="Middle Middle_top">
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% trans 'Fill progress' %}</strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">

                <form method="post">
                  {% csrf_token %}
                  <ul class="menu menu_vt Order-navigate">
                    <li class="menu-item_ACTIVE menu-item">
                      <a class="menu-link" href="#step1">{% trans 'Step 1: User Options' %}</a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="#step2">{% trans 'Step 2 Shipping Method' %}</a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="#step3">{% trans 'Step 3. Payment method' %}</a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="#step4">{% trans 'Step 4. Order confirmation' %}</a>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
        <form class="form" method="post">
          {% csrf_token %}
          <div class="Order-block Order-block_OPEN" id="step1">
            <header class="Section-header Section-header_sm">
              <h2 class="Section-title">{% trans 'Step 1: User Options' %}
              </h2>
            </header>
            <div class="row">
              <div class="row-block">
                <p>
                  {{ form.name.errors }}
                  {{ form.name.label_tag }}
                  {{ form.name }}
                </p>

                <p>
                  {{ form.phone.errors }}
                  {{ form.phone.label_tag }}
                  {{ form.phone }}
                </p>

                <p>
                  {{ form.email.errors }}
                  {{ form.email.label_tag }}
                  {{ form.email }}
                </p>
              </div>
            </div>
            <div class="Order-footer">
              <a class="btn btn_success Order-next" href="#step2">{% trans 'Next' %}</a>
            </div>
          </div>

          <div class="Order-block" id="step2">
            <header class="Section-header Section-header_sm">
              <h2 class="Section-title">{% trans 'Step 2 Shipping Method' %}</h2>
            </header>

            {{ form.delivery_category.errors }}
            <p class="form-group">
              {% for radio in form.delivery_category %}
                <div>
                  <label class="toggle">
                    {{ radio.tag }}
                    <span class="toggle-box"></span>
                    <span class="toggle-text">{{ radio.choice_label }}</span>
                  </label>
                </div>
              {% endfor %}
            </p>
            <p>
              {{ form.city.errors }}
              {{ form.city.label_tag }}
              {{ form.city }}
            </p>

            <p>
              {{ form.address.errors }}
              {{ form.address.label_tag }}
              {{ form.address }}
            </p>

            <div class="Order-footer">
              <a class="btn btn_success Order-next" href="#step3">{% trans 'Next' %}</a>
            </div>
          </div>
          <div class="Order-block" id="step3">
            <header class="Section-header Section-header_sm">
              <h2 class="Section-title">{% trans 'Step 3. Payment method' %}</h2>
            </header>

            {{ form.payment_category.errors }}
            <p class="form-group">
              {% for radio in form.payment_category %}
                <div>
                  <label class="toggle">
                    {{ radio.tag }}
                    <span class="toggle-box"></span>
                    <span class="toggle-text">{{ radio.choice_label }}</span>
                  </label>
                </div>
              {% endfor %}
            </p>

            <div class="Order-footer">
              <a class="btn btn_success Order-next" href="#step4">{% trans 'Next' %}</a>
            </div>
          </div>
          <div class="Order-block" id="step4">
            <header class="Section-header Section-header_sm">
              <h2 class="Section-title">{% trans 'Step 4. Order confirmation' %}</h2>
            </header>

            <div class="Order-infoBlock">
              <div class="Order-personal">
                <div class="row">
                  <div class="row-block">
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.name.label }}:</div>
                      <div class="Order-infoContent" id="full_name_value"></div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.phone.label }}:</div>
                      <div class="Order-infoContent" id="phone_value"></div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.email.label }}:</div>
                      <div class="Order-infoContent" id="email_value"></div>
                    </div>
                  </div>
                  <div class="row-block">
                    <div class="Order-info Order-info_delivery">
                      <div class="Order-infoType">{% trans 'Delivery type' %}:</div>
                      <div class="Order-infoContent" id="delivery_value"></div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.city.label }}:</div>
                      <div class="Order-infoContent" id="city_value"></div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.address.label }}:</div>
                      <div class="Order-infoContent" id="address_value"></div>
                    </div>
                    <div class="Order-info Order-info_pay">
                      <div class="Order-infoType">{% trans 'Payment' %}:</div>
                      <div class="Order-infoContent" id="pay_value"></div>
                    </div>
                  </div>
                </div>
                <p>
                  {{ form.comment.label_tag }}
                  {{ form.comment }}
                </p>
              </div>
              {% for message in form.errors.not_enough_goods %}
                <div>{{ message }}</div>
              {% endfor %}
              <div class="Cart Cart_order">
                {% for item in cart %}
                  <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_pict">
                        <a class="Cart-pict" href="{{ item.product.product.get_absolute_url }}">
                          <img class="Cart-img" src="{{ item.product.product.main_image.small.url }}"
                               alt="{{ item.product.product.slug }}"/>
                        </a>
                      </div>
                      <div class="Cart-block Cart-block_info">
                        <a class="Cart-title"
                           href="{{ item.product.product.get_absolute_url }}">{{ item.product.product.name }}</a>
                        <div class="Cart-desc">{{ item.product.product.description_short }}</div>
                      </div>
                      <div class="Cart-block Cart-block_price">
                        <div class="Cart-price">{{ item.price|localize:request.LANGUAGE_CODE }}</div>
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_amount">{{ item.quantity }} {% trans 'pcs.' %}</div>
                    </div>
                  </div>
                {% endfor %}

                <div class="Cart-product Cart-delivery">
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_pict">
                      <div class="Cart-pict">
                        <img class="Cart-img" src="{% static 'img/icons/delivery.png' %}" alt="delivery.png"/>
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_info">
                      <div class="Cart-title Delivery-title"></div>
                      <div class="Cart-desc"></div>
                    </div>
                    <div class="Cart-block Cart-block_price">
                      <div class="Cart-price Delivery-price"></div>
                    </div>
                  </div>
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_amount">1 {% trans 'pcs.' %}</div>
                  </div>
                </div>
                <input type="hidden" name="is_free_delivery" value="{{ is_free_delivery }}">
                <div class="Cart-total">
                  <div class="Cart-block Cart-block_total">
                    <strong class="Cart-title">{% trans 'Total' %}:</strong>
                    <span class="Cart-price" id="total-price">{{ cart.get_total_price }}</span>
                  </div>
                  <div class="Cart-block">
                    <button class="btn btn_primary btn_lg" type="submit">{% trans 'Pay' %}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{ is_free_delivery|json_script:"is_free_delivery" }}
  <script src="{% static 'js/order.js' %}"></script>
{% endblock %}
