{% extends 'layout.html' %}
{% load i18n static custom_filters %}


{% block page_content %}
  <div class="Middle Middle_top">
    <div class="Section">
      <div class="wrap">
        <div class="Product">
          <div class="ProductCard">
            <div class="ProductCard-look">
              <div class="ProductCard-photo">
                <img src="{{ product.main_image.middle.url }}" alt="{{ product.main_image }}.png"/>
              </div>
              <div class="ProductCard-picts">
                <a class="ProductCard-pict ProductCard-pict_ACTIVE" href="{{ product.main_image.middle.url }}">
                  <img src="{{ product.main_image.small.url }}" alt="{{ product.main_image }}"/>
                </a>
                {% for img in product.images.all %}
                  {% if img.id != product.main_image.id %}
                    <a class="ProductCard-pict" href="{{ img.middle.url }}">
                      <img src="{{ img.small.url }}" alt="{{ img }}">
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="ProductCard-desc">
              <div class="ProductCard-header">
                <h2 class="ProductCard-title">{{ product.name }}</h2>
                <div class="ProductCard-info">
                  <div class="ProductCard-cost">
                    <div class="ProductCard-price">
                      {{ product.avg_price|localize:request.LANGUAGE_CODE }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="ProductCard-text">
                <p>{{ product.description_short }}</p>
              </div>
              {% if random_product_id %}
                <div>
                  <form class="ProductCard-cart" action="{% url 'cart_add' random_product_id %}" method="post">
                    {% csrf_token %}
                    <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                      <div class="Amount Amount_product">
                        <button class="Amount-remove" type="button"></button>
                        <input class="Amount-input form-input" name="quantity" type="text" value="1">
                        <button class="Amount-add" type="button"></button>
                      </div>
                    </div>
                    <div class="ProductCard-cartElement">
                      <button class="btn btn_primary">
                        <img class="btn-icon" src="{% static 'img/icons/card/cart_white.svg' %}" alt="cart_white.svg"/>
                        <span class="btn-content">{% trans 'Buy' %}</span>
                      </button>
                    </div>
                  </form>
                  <div id="modal_open" class="my_modal">
                    <div class="my_modal-dialog">
                      <div class="my_modal-content">
                        <div class="my_modal-header">
                          <p class="my_modal-title">Поздравляем!</p>
                          <a href="#" title="Закрыть модальное окно" class="close">×</a>
                        </div>
                        <div class="my_modal-body">
                          <p>Товар успешно добавлен в корзину!</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="ProductCard-text">{% trans 'Product is not for sale' %}</div>
              {% endif %}
              <div class="ProductCard-footer">
                <div class="ProductCard-tags">
                  <strong class="ProductCard-tagsTitle">{% trans 'Tags' %}:</strong>
                  {% for tag in product.tags.all %}
                    <a href="{% url 'catalog' %}?tag={{ tag.codename }}">{{ tag.name }}</a>
                    {% if not forloop.last %},{% endif %}
                  {% empty %}
                    <p>{% trans 'No tags' %}</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="Tabs Tabs_default">
            <div class="Tabs-links">
              <a class="Tabs-link_ACTIVE Tabs-link" href="#description">
                <span>{% trans 'Description' %}</span>
              </a>
              <a class="Tabs-link" href="#sellers">
                <span>{% trans 'Sellers' %}</span>
              </a>
              <a class="Tabs-link" href="#addit">
                <span>{% trans 'Features' %}</span>
              </a>
              <a class="Tabs-link" href="#reviews">
                <span>{% trans 'Reviews' %} ({{ reviews_count }})</span>
              </a>
            </div>
            <div class="Tabs-wrap">
              <div class="Tabs-block" id="description">
                <h2>{{ product.name }}</h2>
                <p>
                  {{ product.description_long }}
                </p>
                <div class="clearfix">
                </div>
                <div class="table">
                  <table>
                    <tr>
                      <th>{% trans 'Feature' %}
                      </th>
                      <th>{% trans 'Value' %}
                      </th>
                    </tr>
                    <tr>
                      <td>{% trans 'Device type' %}
                      </td>
                      <td>{{ product.category }}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="Tabs-block" id="sellers">
                <div class="Section-content">
                  <div class="Orders">
                    {% for product_shop, price in sellers.items %}
                      <div class="Order Order_anons">
                        <div class="Order-personal">
                          <div class="row">
                            <div class="row-block">
                              <a class="Order-title" href="{% url 'store_detail' product_shop.shop.slug %}">
                                {{ product_shop.shop.name }}
                              </a>
                              <div class="ProductCard-cartElement" style="margin-top: 10px;">
                                <a class="btn btn_primary" href="{% url 'cart_add' product_shop.id %}">
                                  <img class="btn-icon" src="../../static/img/icons/card/cart_white.svg"
                                       alt="cart_white.svg"/>
                                  <span class="btn-content">{% trans 'Buy' %}</span>
                                </a>
                              </div>
                            </div>
                            <div class="row-block">
                              <div class="Order-info Order-info_delivery">
                                <div class="Order-infoType">
                                  {% trans 'Delivery type' %}:
                                </div>
                                <div class="Order-infoContent">
                                  {% trans 'Ordinary delivery' %}
                                </div>
                              </div>
                              <div class="Order-info Order-info_pay">
                                <div class="Order-infoType">
                                  {% trans 'Payment' %}:
                                </div>
                                <div class="Order-infoContent">
                                  {% trans 'Card online' %}
                                </div>
                              </div>
                              <div class="Order-info">
                                <div class="Order-infoType">
                                  {% trans 'Price' %}:
                                </div>
                                <div class="Order-infoContent">
                                  {% if price.price_new %}
                                    <span class="Card-priceOld"
                                          style="font-size: 18px">{{ price.price_old|localize:request.LANGUAGE_CODE }}</span>
                                    <span class="Card-price"
                                          style="color: #000; font-weight: 400; font-size: 18px">{{ price.price_new|localize:request.LANGUAGE_CODE }}</span>
                                  {% else %}
                                    <span class="Order-price">{{ price.price_old|localize:request.LANGUAGE_CODE }}</span>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="Tabs-block" id="addit">
                <div class="Product-props">
                  {% for feature in product.features.all %}
                    {% for value in feature.values.all %}
                      {% if forloop.first %}
                        <div class="Product-prop">
                          <strong>{{ feature.feature_name }}</strong>
                          <span>{{ value }}</span>
                        </div>
                      {% else %}
                        <div class="Product-prop">
                          <strong></strong>
                          <span>{{ value }}</span>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% empty %}
                    <p>{% trans 'No features' %}</p>
                  {% endfor %}
                </div>
              </div>
              <div class="Tabs-block" id="reviews">
                <header class="Section-header">
                  {% if reviews_count == 1 %}
                    {% if request.LANGUAGE_CODE == 'ru' %}
                      <h3 class="Section-title">{{ reviews_count }} отзыв</h3>
                    {% else %}
                      <h3 class="Section-title">{{ reviews_count }} review</h3>
                    {% endif %}
                  {% elif reviews_count > 1 %}
                    {% if request.LANGUAGE_CODE == 'ru' %}
                      <h3 class="Section-title">{{ reviews_count }} отзыва</h3>
                    {% else %}
                      <h3 class="Section-title">{{ reviews_count }} reviews</h3>
                    {% endif %}
                  {% elif reviews_count > 4 or reviews_count == 0 %}
                    {% if request.LANGUAGE_CODE == 'ru' %}
                      <h3 class="Section-title">{{ reviews_count }} отзывов</h3>
                    {% else %}
                      <h3 class="Section-title">{{ reviews_count }} reviews</h3>
                    {% endif %}
                  {% endif %}
                </header>
                <div class="Comments">
                  {% for review in product.reviews.all|dictsortreversed:"created" %}
                    <div class="Comment">
                      <div class="Comment-column Comment-column_pict">
                        {% with default_image='/static/img/icons/user_icon.svg' %}
                          {% if review.profile.avatar %}
                            <div class="Comment-avatar" style="background: #0063d1
                                      url({{ review.profile.avatar.url|default:default_image }}) center center no-repeat;
                                      background-size: cover">
                            </div>
                          {% else %}
                            <div class="Comment-avatar"></div>
                          {% endif %}
                        {% endwith %}
                      </div>
                      <div class="Comment-column">
                        <header class="Comment-header">
                          <div>
                            {% if review.profile.name %}
                                <strong class="Comment-title">{{ review.profile.name }}</strong>
                            {% else %}
                                <strong class="Comment-title">{{ review.profile.user.username }}</strong>
                            {% endif %}
                            <span class="Comment-date">{{ review.created }}</span>
                          </div>
                        </header>
                        <div class="Comment-content">
                          {{ review.text }}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <header class="Section-header Section-header_product">
                  <h3 class="Section-title">{% trans 'Add review' %}
                  </h3>
                </header>
                <div class="Tabs-addComment">
                  <form class="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      {{ review_form }}
                    </div>
                    <div class="form-group">
                      <button class="btn btn_muted" type="submit">{% trans 'Submit review' %}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}