{% extends 'layout.html' %}
{% load static i18n %}

{% block page_content %}
  <div class="Middle Middle_top">

  <div class="Section Section_column Section_columnLeft">
    <div class="wrap">
      <div class="Section-column">
        <div class="Section-columnSection">
          <header class="Section-header">
            <strong class="Section-title">{% trans 'Navigation' %}</strong>
          </header>
          <div class="Section-columnContent">
            <div class="NavigateProfile">
              <ul class="menu menu_vt">
                <li class="menu-item">
                  <a class="menu-link" href="{% url 'account' %}">{% trans 'Personal account' %}</a>
                </li>
                <li class="menu-item_ACTIVE menu-item">
                  <a class="menu-link" href="{% url 'edit' %}">{% trans 'Profile' %}</a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="{% url 'orders' %}">{% trans 'Orders history' %}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="Section-content">
        <div class="Profile">
          <form class="form Profile-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="row-block">
                <div class="form-group">
                  <label class="form-label" for="avatar">{% trans 'Avatar' %}
                  </label>
                  <div class="Profile-avatar Profile-avatar_noimg" style="position: relative">
                    <label class="Profile-fileLabel" for="avatar">
                      <img src="{% static 'img/icons/upload.png' %}" alt="#.png"/>{% trans 'Upload a photo' %}</label>
                    <input class="Profile-file form-input" id="avatar" name="avatar" type="file"
                           data-validate="onlyImgAvatar" style="height: 100%"/>
                    {% with default_image='/static/img/icons/profile.png' %}
                          <img src="{{ image.url|default:default_image }}" style="position: absolute; width: 100%; height: 100%; z-index: -1; object-fit: contain">
                    {% endwith %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label" for="name">{% trans 'Full name' %}</label>
                  {{ form.name }}
                  {{ form.name.errors }}
                </div>
              </div>
              <div class="row-block">
                <div class="form-group">
                  <label class="form-label" for="phone">{% trans 'Tel' %}</label>
                  {{ form.phone }}
                  {{ form.phone.errors }}
                </div>
                <div class="form-group">
                  <label class="form-label" for="mail">{% trans 'E-mail' %}</label>
                  {{ user_form.email }}
                  {{ error_form.email.errors }}
                </div>
                <div class="form-group">
                  <label class="form-label" for="password">{% trans 'Password' %}</label>
                  {{ user_form.password1 }}
                  {{ error_form.password1.errors }}
                </div>
                <div class="form-group">
                  <label class="form-label" for="passwordReply">{% trans 'Password confirmation' %}</label>
                  {{ user_form.password2 }}
                  {{ error_form.password2.errors }}
                </div>
                <div class="form-group">
                  <div class="Profile-btn">
                    <button class="btn btn_success" type="submit">{% trans 'Save' %}</button>
                  </div>
                  {% if success_profile %}
                    <div class="Profile-success" style="display: block" id="success">{% trans 'Profile saved successfully' %}</div>
                  {% else %}
                    <div class="Profile-success" style="display: none" id="success">Профиль успешно сохранен</div>
                  {% endif %}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
<script>
  jQuery(function($){
    $("#id_phone").mask("+7 (999) 999-9999");
  });
</script>
{% endblock %}

