{% extends 'layout.html' %}
{% load static i18n %}


{% block header %}
  {% include 'components/header.html' with no_bottom=True %}
{% endblock %}
{% block page_content %}
  <div class="wrap">
    <div class="wrapper">
      <div class="header">
        <h3 class="sign-in">{% trans 'Registration' %}</h3>
      </div>
      <div class="clear"></div>
      <form method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.username.errors }}
        {{ form.email }}
        {{ form.email.errors }}
        {{ form.password1 }}
        {{ form.password1.errors }}
        <input type="submit" value="Зарегистрироваться"/>
        <a class="registr" href="{% url 'account_login'%}">
          {% trans 'Login' %}
        </a>
        <div class="clear"></div>
      </form>
    </div>
  </div>
{% endblock %}